body{
    margin: 0;
}

/* Estilização do cabeçalho */
.cabecalho{
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
}

.cabecalho > div {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: black;
}

/* Estilização dos botões */
.botao {
    height: 80%;
    display: inline-grid;
    grid-template-columns: repeat(4, 70px);
    grid-gap: 30px;   
}

.botao > a{
    color: white;
    font-family: 'Old Standard TT', coursive;
    font-size: 10px ;
    height: 20px;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
}

.botao:hover >a{
    background-color: rgb(26, 121, 94);
}

.botao2{
    height: 50%;
    display: inline-grid;
    grid-template-columns: repeat(2, 130px);
    grid-gap: 0px;
    color: white;
    text-decoration-color: black;
}

.botao2 > a{
    text-decoration: none;
    background-color: white;
    cursor: pointer; 
}
     
/* Estilização da logo */
.log1{
    width: 100px;
    text-align: center;
}
.logo{
    width: 80px;
    text-align: center;
    display: block;
    block-size: 100px;
    margin-left: 22px;
}

.logo > img{
    left: 10px;
    filter: drop-shadow(0 0 3px rgba(12, 14, 175, 0.87));
}

/* Div principal */
.principal {
    width: 100%;
    height: 100vh;
    background-position: fixed;
    background-image: url("https://img.freepik.com/fotos-premium/uma-van-estacionada-em-uma-praia-ao-lado-de-uma-mesa-e-cadeiras-imagem-generativa-de-ia_87646-16759.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family:'Old Standard TT', coursive;
}

.principal >img{
    width: 1;
    height: 50%;
}

/* Textos */
.titulo{
    font-size: 120px;
    font-family: 'Abril Fatface', coursive; 
    margin: 8vh 0 0 8vw;
    background: -webkit-linear-gradient(#dbdbdb, rgba(12, 14, 175, 0.87));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.subtitulo{
    font-size: 20px;
    font-style: oblique;
    margin: 28vh 0 0 45px;
    text-align: right;
    width: 580px;
    height: 60px;
    border-radius: 10px;
    font-family: 'Old Standard TT', coursive;
    color: rgb(255, 255, 255);
}

/* Estilização do rodape */
.rodape{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(12, 14, 175, 0.87);
    color: white;
    text-align: right;
}

/* Estilização menu suspenso  */
.mainmenubtn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding:20px;
    margin-top:2px;
    margin-right: 30px;
    overflow: hidden;
}

.mainmenubtn:hover {
    background-color: transparent;
    left: 100px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 100px;
    align-items: right;
}

.dropdown-child {
    display: none;
    background-color: white;
    min-width: 20px;
}

.dropdown-child a {
    color:black;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}

.menu{
    width: 0px;
    text-align: right;
}

/* Estilização dos botões */
.btn {
    width: 5.5em;
    height: 2em;
    margin: 0.5em;
    top: 2vh;
    left: 10vw;
    background: transparent;
    color: white;
    border: 2px solid  rgba(12, 14, 175, 0.87);
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Old Standard TT', coursive;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
}

button:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    background: rgba(40, 25, 177, 0.63);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn2 {
    width: 5.5em;
    height: 2em;
    margin: 0.5em;
    left: 1vw;
    top: 2.5vh;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgba(12, 14, 175, 0.87);
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Old Standard TT', coursive;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.anone{
    text-decoration: none;
    color:  white;
}

.anone2{
    text-decoration: none;
    color:  white;
}

/* Quadrado branco */
.card {
    margin-left: 40px;
    width: 680px;
    height: 254px;
    transition: all 0.2s;
    position: relative;
    margin-left: 25vw;
}

.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    text-align: center;
}

