body{
    margin: 0;
}

/* Estilização do cabeçalho */
.cabecalho{
    width: 100%;
    height: 100px;
    display: flex;
}

.cabecalho > div {
    width: 100%;
    height: 100%;
    background-color: #0d1117;
    color: black;
}

/* Estilização dos botões */
.botao {
    height: 50%;
    display: inline-grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 20px;   
}

.botao > a{
    color: white;
    font-family: sans-serif;
    font-size: 10px ;
    height: 20px;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
}

.botao:hover >a{
    background-color: rgba(22, 141, 107, 0.63);
}

.botao2{
    height: 50%;
    display: inline-grid;
    grid-template-columns: repeat(2, 130px);
    grid-gap: 20px;
    color: white;
    text-decoration-color: black;
}

.botao2 > a{
    text-decoration: none;
    background-color: white;
    cursor: pointer; 
}
     
/* Estilização da logo */
.log1{
    width: 100px;
    text-align: center;
}

.logo{
    width: 80px;
    text-align: center;
    display: block;
    block-size: 100px;
    margin-left: 22px;
}

.logo > img{
    left: 10px;
    filter: drop-shadow(0 0 3px green);
}

/* Estilização menu suspenso  */
.mainmenubtn {
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding:20px;
    margin-top:2px;
    margin-right: 30px;
    overflow: hidden;
}

.mainmenubtn:hover {
    left: 100px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 100px;
    align-items: right;
}

.dropdown-child {
    display: none;
    background-color: white;
    min-width: 20px; 
}

.dropdown-child a {
    color: black;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    text-decoration: none;
    display: block; 
}

.dropdown:hover .dropdown-child {
    display: block;  
}

.menu{
    width: 0px;
    text-align: right;
}

/* Estilização dos botões */
.btn {
    width: 5.5em;
    height: 2em;
    margin: 0.5em;
    top: 2vh;
    left: 10vw;
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Bebas Neue', coursive;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
}

button:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    background: rgba(22, 141, 107, 0.63);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn2 {
    width: 5.5em;
    height: 2em;
    margin: 0.5em;
    left: 5vw;
    top: 2.5vh;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(233, 231, 231);
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Bebas Neue', ;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.anone{
    text-decoration: none;
    color: white;
}

.anone2{
    text-decoration: none;
    color: rgb(233, 231, 231);
}

/* Div fundo */
.principal {
    width: 100%;
    height: 100vh;
    background-color: #0d1117;
}

/* Textos */
.titulo {
    position: relative;
    font-size: 35px;
    font-family: 'Abril Fatface', coursive;
    color: rgba(22, 141, 107, 0.63);
    width: 25%;
    text-align: center;
    align-items: center;
}

.subtitulo {
    position:relative;
    font-size: 16px;
    font-family: 'Meta SC', coursive;
    margin: 50px 0 0 -80px;
    width: 60vh;
    height: 50vh;
    color: rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.textos {
    margin-left: 60px;
}

/* Div fundo */
.fundo3 {
    width: 70%;
    height: 70%;
    background-color: #0d1117;
    text-align: center;
    margin-top: 3vh;
    margin-left: 14vw;
    position: fixed;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 10px;
    border: 1px solid rgb(182, 182, 182);
}

.fundo3{
    background:  #0d1117;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    text-align: center;
}

/* Imagem */
.foto {
    height: 400px; 
    display: grid; 
    grid-template-columns: 400px 400px; 
    gap: 10px;
    width: 110vh;
    height: 80vh; 
}

.nós > img{
    border: solid 1px rgba(22, 141, 107, 0.63);;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(22, 141, 107, 0.63), 0 0 20px rgba(22, 141, 107, 0.63);
}