body{
    margin: 0;
}
.cabecalho{
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
}

.cabecalho > div {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: black;
}
.botao {
    height: 50%;
    /* width: 25px; */
    display: inline-grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 20px;
    /* margin-top: 25px;  */
    /* text-decoration: none; */
    
}
.botao > a{
    color: white;
    /* justify-content: space-between 50px; */
    font-family: sans-serif;
    font-size: 10px ;
    /* border: 1px solid white; */
    height: 20px;
    border-radius: 20px;
    /* padding: 30px; */
    /* margin-left: 20px; */
    margin-top: 30px;
    font-size: 15px;
    /* margin-right: 20px; */
    color: black;
    text-align: center;
    text-decoration: none;
}
.botao:hover >a{
    background-color: rgb(26, 121, 94);
}
.botao2{
    height: 50%;
    /* width: 25px; */
    display: inline-grid;
    grid-template-columns: repeat(2, 130px);
    grid-gap: 0px;
    /* margin-top: 25px;  */
    color: white;
    text-decoration-color: black;
}
.botao2 > a{
    text-decoration: none;
    /* height: 35px;
    width: 125px;
    border: 1px solid white;
    border-radius: 35px;
    justify-content: space-between;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Verdana;
    font-size: 15px;
    margin: 25px 10px 10px;
    /* padding: 10px; */
    background-color: white;
    cursor: pointer; 
}
     


.pesquisa > input{
    border-radius: 20px;
    margin: 30px 0px 0px;
    /* text-align: left; */
    color: black;
    font-size: 10px;
    width: 200px;
    height: 20%;
    border: solid 1px black;
    /* padding: 15px; */
    
}
.log1{
    width: 100px;
    text-align: center;
}
.logo{
    width: 80px;
    text-align: center;
    display: block;
    block-size: 100px;
}
.logo > img{
    left: 10px;
}
/* .logo > div{ */
    /* margin: 10px; */
    /* width: 40px;
    height: 40px;
    align-items: center;
    
} */
.principal {
    width: 100%;
    height: 100vh;
    background-position: fixed;
    background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1408/Beautiful_night_scenery_Galaxy_HD_Wallpaper_05_1366x768.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family:sans-serif;
}
.principal >img{
    width: 1;
    height: 50%;
    
}
.titulo{
    font-size: 120px;
    font-family: 'Alfa Slab One', coursive;
    margin: 8vh 0 0 8vw;
    /* color: rgb(0, 0, 0); */
    background: -webkit-linear-gradient(#dbdbdb, #03eebb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;

}
.subtitulo{
    font-size: 20px;
    /* font-family:Tahoma; */
    font-style: oblique;
    margin: 28vh 0 0 45px;
    text-align: right;
    /* background-color: rgba(96, 216, 156, 0.461); */
    width: 580px;
    height: 60px;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: rgba(255, 253, 253, 0.651) 0 0 0px ,#00ffb3b6 0 0 20px;

}
.rodape{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(22, 141, 107, 0.63);
    color: white;
    text-align: right;
    /* padding: 15px; */
}
.insta {
    margin-top: 5px; 
}

.mainmenubtn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding:20px;
    margin-top:2px;
    margin-right: 30px;
    /* width: 50px; */
    overflow: hidden;
}
.mainmenubtn:hover {
    background-color: transparent;
    left: 100px;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 100px;
    align-items: right;
    
    /* left: 12px; */
}
.dropdown-child {
    display: none;
    background-color: white;
    min-width: 20px;
    
}
.dropdown-child a {
    color:black;
    padding: 20px;
    text-decoration: none;
    display: block;
    
}
.dropdown:hover .dropdown-child {
    display: block;
    
}
.menu{
    width: 0px;
    text-align: right;
}
.btn {
    width: 5.5em;
    height: 2em;
    margin: 0.5em;
    top: 2vh;
    left: 10vw;
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Bebas Neue', coursive;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    }

button:hover {
    color: black;
}

button:after {
    content: "";
    /* background: rgba(0, 250, 121, 0.534); */
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    background: rgba(22, 141, 107, 0.63);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    }
    .btn2 {
        width: 5.5em;
        height: 2em;
        margin: 0.5em;
        left: 5vw;
        top: 2.5vh;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 20px;
        text-decoration: none;
        font-size: 15px;
        font-family: 'Bebas Neue', ;
        cursor: pointer;
        position: relative;
        z-index: 1;
        overflow: hidden;
        }
.anone{
    text-decoration: none;
    color: white;
}
.anone2{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.coração {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 110px;
    margin-top: -10px;
    margin-left: 180px;
    margin-right: 0;
    /* border-radius: 10px; */
    border: none;
    background-color: transparent;
    position: absolute;
    }

.coração::after {
    
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
    
}

.icon {
    width: 30px;
    height: 30px;
    transition: .2s linear;
}

.icon path {
    fill: white;
    transition: .2s linear;
}

.coração:hover > .icon {
    transform: scale(1.2);
}

.coração:hover > .icon path {
    fill: rgb(177, 139, 189);
}

.coração:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
}
.coração2{
    
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
    }

.input {
    margin-top: -20px;
    margin-left: -60px;
    height: 30px;
    line-height: 28px;
    padding: 0 1rem;
    width: 20vw;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #D9E8D8;
    color: #0d0c22;
    box-shadow: 0 0 5px rgb(19, 139, 109), 0 0 0 10px #f5f5f5eb;
    transition: .3s ease;
    }

.input::placeholder {
    color: #777;
}   

.icon1 {
    position: absolute;
    margin: 0 0 20px 0;
    left: -3rem;
    fill: rgb(0, 0, 0);
    width: 1rem;
    height: 1rem;
}
.card {
    margin-left: 40px;
    width: 680px;
    height: 254px;
    transition: all 0.2s;
    position: relative;
    margin-left: 25vw;
    }

.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    text-align: center;
    }

/* .card:hover {
transform: scale(1.04) rotate(1deg);
} */

.circle {
    width: 120px;
    height: 120px;
    background: radial-gradient(#00fff7, #03bf8d);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -25px;
    left: -25px;
}

.circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}

@keyframes move-up6 {
to {
transform: translateY(-20px);
}
}

@keyframes move-down1 {
to {
transform: translateY(20px);
}
}

