body{
    margin: 0;
}

/* Estilização do cabeçalho */
.cabecalho{
    width: 100%;
    height: 100px;
    display: flex;
}

.cabecalho > div {
    width: 100%;
    height: 100%;
    background-color: #0d1117;
    color: black;
}

/* Estilização dos botões */
.botao {
    height: 50%;
    display: inline-grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 20px;   
}

.botao > a{
    color: white;
    font-family: sans-serif;
    font-size: 10px ;
    height: 20px;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
}

.botao:hover >a{
    background-color: rgba(22, 141, 107, 0.63);
}

.botao2{
    height: 50%;
    display: inline-grid;
    grid-template-columns: repeat(2, 130px);
    grid-gap: 20px;
    color: white;
    text-decoration-color: black;
}

.botao2 > a{
    text-decoration: none;
    background-color: white;
    cursor: pointer; 
}

/* Estilização da logo */
.log1{
    width: 100px;
    text-align: center;
}

.logo{
    width: 80px;
    text-align: center;
    display: block;
    block-size: 100px;
    margin-left: 22px;
    margin-top: 1vh;
}

.logo > img{
    left: 10px;
    filter: drop-shadow(0 0 3px green);
}

/* Estilização do rodape */
.rodape{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color:rgba(91, 202, 171, 0.829);
    color: white;
    text-align: right;
}

/* Estilização menu suspenso */
.mainmenubtn {
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
    margin-top:2px;
    margin-right: 30px;
    overflow: hidden;
}

.mainmenubtn:hover {
    left: 100px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    align-items: right;
}

.dropdown-child {
    display: none;
    background-color: white;
    min-width: 20px; 
}

.dropdown-child a {
    color: black;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    text-decoration: none;
    display: block;  
}

.dropdown:hover .dropdown-child {
    display: block;    
}

.menu{
    width: 0px;
    text-align: right;
}

/* Estilização dos botões */
.btn {
    width: 5.5em;
    height: 2em;
    margin: 0.5em;
    top: 2vh;
    left: 10vw;
    background: black;
    color: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Bebas Neue', coursive;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
}

button:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    background: rgba(22, 141, 107, 0.63);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn2 {
     width: 5.5em;
    height: 2em;
    margin: 0.5em;
    left: 5vw;
    top: 2.5vh;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(233, 231, 231);
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Bebas Neue', ;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.anone{
    text-decoration: none;
    color: white;
}

.anone2{
    text-decoration: none;
    color: rgb(233, 231, 231);
}

/* Textos */
.titulo{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 0 -270px;
    color: rgb(233, 231, 231);
   
}

.subtitulo{
    font-size: 18px;
    font-family:Tahoma;
    margin: 0 0 0 -130px;
    background-color: white (128, 128, 128, 0.493);
    width: 580px;
    height: 60px;
    border-radius: 10px;
    color: black;
}

/* Div principal */
.principal {
    width: 100vw;
    height: 100vh;
    background-color: #0d1117;
}

/* Contorno  */
.fundo {
    width: 80%;
    height: 65%;
    background-color: #0d1117;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 7vw;
    margin-left: 19vh ;
    border-radius: 10px;
    border: 1px solid rgb(182, 182, 182);
}